MoonShot.aux
MoonShot.bbl
MoonShot.blg
MoonShot.log
MoonShot.synctex.gz
MoonShot.toc
MoonShotLarge.aux
MoonShotLarge.bbl
MoonShotLarge.blg
MoonShotLarge.log
MoonShotLarge.synctex.gz
MoonShotLarge.toc
